body, html {
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
}

.navbar {
    margin: auto;
    padding-top: 30%;
    width: 70%;
}

@media only screen and (min-width: 640px) {
    .navbar {
        padding-top: 10%;
        width: 20%;
    }
}
