

.card {
    display: flex;
    flex-direction: column;
  }

.side-content {
      flex: 0 0 20%;
  }

.row {
    display: flex;
  }

.side-content-sm {
    flex: 0 1 20%;
  }
  
.main-content-lg {
    flex: 0 1 100%;
}

  #navBar {
    border-radius: 5px;
    width: 100%; 
}

.welcome {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
   }
   

#chevron {
    padding-left: 38%;
    padding-top: 0;
    }



@media only screen and (min-width: 900px) {

/* General - Largest Screen */

    p {
        font-size: 20px;
    }

    a {
        font-size: 30px;
    }

    .main-content {
        flex: 0 0 60%;
      }

    .side-content {
        flex: 0 0 20%;
    }

/* Landing Page - Largest Screen */

   .welcome {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 10%;
   }

   .welcome-text {
    flex: 1 0 auto;
   }

    #chevron {
        padding-left: 48%;
        padding-top: 0;
        padding-bottom: 0;
    }

/* Navigation Page - Largest Screen */

    .navMenu1, .navMenu2, .navMenu3, .navMenu4, .navMenu5 {
        font-size: 25px;
        padding-right: 30px;
    }

    .img {
        width: 175px;
        height: 238px;
        border: none;
        margin-bottom: 0;
        margin-right: 15px;
        border-radius: 5px;
    }

/* About Me - Largest Screen */
    .logo2 {
        margin-bottom: -4%;
        padding-left: 38%;
    }

    .content {
        margin-top: 7%;
        padding-top: 3%;
        margin-bottom: 5px;
    }

/* Projects - Largest Screen */

    .project-card {
        display: flex;
        flex-direction: row;
      }

    .project-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
  }

    .main-content-lg {
        flex: 0 0 60%;
  }

}


  @media only screen and (min-width: 600px) and (max-width: 900px) {}
