body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: #31b0d5;
  font-size: 25px;
}

#navBar {
  background-color: white;
  margin:0 auto;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
}

nav a:hover {
  color: #777777;
}

.navMenu1, .navMenu2, .navMenu3, .navMenu4, .navMenu5 {
    font-size: 18px;
    padding-right: 6px;
}

.wrapper {
    background-color: #31b0d5;
    height: 100vh;
}

/* Landing Page - Smallest Size */

.logoimg {
  border: 30px white solid;
  border-radius: 15px;  
}

.welcome-text {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.name {
  padding-left: 20%;
}
  
#chevron {
    color: white;
    font-size: 70px;
    padding-top: 3%;
    padding-left: 42%;
    text-shadow: 1px 1px 2px black;
    animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {transform: translateY(0); }
  100% {transform: translateY(-10px); }
}

/* About Me Page - Smallest Size */
  
  .logo2 {
    padding-right: 2px;
    padding-left: 28%;
    padding-top: 8%;
    margin-bottom: -10%;
  }
  
  .logo2:hover {
    opacity: 0.7;
  }

  .anchor {
    margin-bottom: 15%;
  }

  .selfie {
      float: left;
      margin-right: 15px;  
  }

  .self-content {
      color: #777777;
      line-height: 1.7;
      font-size: 20px;
      margin-bottom: 4%;
      margin-top: 15%;
  }

  /* CONTACT ME LINKS - Smallest Size */

  .ul-contactMe {
    text-align: center;
    padding-left: 0;
  }
  
  .li-contactMe-links {
    display: inline-block;
    list-style: none;
  }
  
  .contactMe {
    font-size: 40px;
    padding: 20px;
  }

  .contactMe-section {
      margin-bottom: 8%;
  }
  
  .wrapper1 {
    border-bottom: 1px solid gainsboro;
}

  /* Experience Page - Smallest Size  */
  
   .eHeader {
       color: #31b0d5;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       text-align: center;
       margin-bottom: 5%;
       font-size: 35px;
   }

   .card {
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: #31b0d5;
       font-size: 15px;
   } 

   .expHeader {
       color: white;
   }

   .card-header, .card-header-ed, .card-content {
    border: 1px solid #31b0d5;
    margin-top: 2%;
    margin-bottom: 2%;   
     }

  .card-header, .card-header-ed {
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    margin-bottom: -2%;
    color: white;
     }

  .card-header {
    text-align: center;
  }

  .card-content {
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    background-color: white;
     }

  .wrapper1 {
    padding-top: 3%;
     }

   .wrapper2 {
       background-color: #31b0d5;
   }

  /* Education Page - Smallest Size  */

   .card-header-ed {
     color: #31b0d5;
     padding: 2%;
   }

  /* Project Page - Smallest Size  */

  .proHeader {
    color: white;
}

.project-card {
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
  }

  .project-content {
    padding: 2%;
    color: #31b0d5;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .project-content a {
      text-align: center;
      border-radius: 5px;
      color: white;
      background-color: #31b0d5;
      margin-left: 35%;
      padding: 1%;
  }

  .wrapper4 {
      background-image: url("https://images.pexels.com/photos/36753/flower-purple-lical-blosso.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

/* Skills Page - Smallest Size  */

  .ul-skills {
    text-align: center;
    padding-left: 0;
  }

  .li-skills {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: white;
    background: #31b0d5;
    border-radius: 5px;
    list-style: none;
    cursor: default;
    font-size: 19px;
  }  


   @media only screen and (min-width: 900px) {

/* Landing Page - Largest Size */

    .logoimg {
        margin-top: 15%;
    }

    .welcome-text {
        font-size: 30px;
        margin-top: 20%;
        margin-left: 2%;
    }

    .name {
      padding-left: 0;
    }
    
/* About Me Page - Largest Size */
    
    .logo2 {
      padding-top: 0;
      padding-left: 25%;
    }
  
    .self-content {
        margin-top: 0;
    }
    
/* Experience Page - Largest Size */

    .card-header, .card-content {
        background-color: white;   
   }

    .card-header {
        color: #31b0d5;
   }


/* Projects Page - Largest Size */

   .project-card {
      margin-bottom: 30px;
   }

   .project-content a {
      margin-left: 0%;
   }
    

      /* SKILLS Page - Largest Size */

    .ul-skills {
        text-align: center;
        padding-left: 0;
      }

    .li-skills {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: white;
        background: #31b0d5;
        border-radius: 5px;
        list-style: none;
        cursor: default;
        font-size: 19px;
      }

    }

      
