body {
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
}

.logo {
    border: 30px white solid;
    border-radius: 15px;
    animation: uifocus 2.5s infinite, mover 1s infinite alternate;
}

#chevron {
    color: rgb(135, 228, 223);
    font-size: 70px;
    padding-top: 3%;
    padding-left: 42%;
    padding-bottom: 6%;
    animation: mover 1s infinite alternate;
}

.wrapper {
    background-image: url("./images/funky-lines.png");
    border-bottom: 1px solid gainsboro;
    margin: 0;
}

@keyframes uifocus {
    from {border-color:rgb(243, 241, 241);}
    to {border-color: rgb(135, 228, 223);}
}

@keyframes mover {
    0% {transform: translateY(0); }
    100% {transform: translateY(-10px); }
}

/* About Me */

#navBar {
    background-color: white;
    margin:0 auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
    color: #31b0d5;
    font-size: 25px;
    
    
  }
  .navMenu1, .navMenu2, .navMenu3, .navMenu4, .navMenu5 {
      font-size: 18px;
      padding-right: 6px;
  }
  
  .logo2 {
    height: 75px;
    width: 55px;
    padding-right: 2px;
    padding-left: 25%;
    margin-bottom: -10%;
  }
  
  .logo2:hover {
    opacity: 0.7;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a:hover {
    color: #777777;
  }
  
  .img {
    width: 150px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    float: left;
  }

  .content {
      margin-top: 13%;
      margin: 15px;
      color: #777777;
      line-height: 1.7;
  }

  .wrapper1 {
    border-bottom: 1px solid gainsboro;
}

  /* Experience */
  
   .eHeader {
       color: #31b0d5;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

   .card {
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: #31b0d5;
       font-size: 15px;
   }

   .wrapper, .wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
    border: 1px solid red;
}  

   @media only screen and (min-width: 640px) {
       .eHeader {
          text-align: center;
          margin-bottom: 5%;

       }
       .card-header, .card-content {
           border: 1px solid #31b0d5;
           margin-top: 2%;
           margin-bottom: 2%;   
       }

       .card-header {
           padding-top: 2%;
           padding-bottom: 2%;
           text-align: center;
           border-radius: 5px;
           margin-bottom: -2%;
       }

       .card-content {
           border-radius: 5px;
           padding: 2%;
           margin-bottom: 5%;
       }

       .wrapper1, .wrapper3, .wrapper5 {
           padding-top: 5%;
       }

    }

     /* Projects */

     .project-card {
        display: flex;
        flex-direction: row;
        background-color: white;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
      }

      .project-image {
        flex: 1 0 auto;
      }

      .project-image img {
        display: block;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .project-content {
        flex: 1 1 auto;
        padding: 2%;
        color: #31b0d5;;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      .project-content a {
          
          text-align: center;
          border-radius: 5px;
          color: white;
          background-color: #31b0d5;
      }

      /* SKILLS */

      .ul-skills {
        text-align: center;
        padding-left: 0;
      }

      .li-skills {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: white;
        background: #31b0d5;
        border-radius: 5px;
        list-style: none;
        cursor: default;
        font-size: 19px;
      }

      
